.header-text {
    background-image: url('../assets/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 30px;
    color: white; 
  }
  
  .header-text h4 {
    margin: 0;
  }
  